body
{
    padding: 0;
    margin:0 ;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-column{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-input{
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 5px 10px;
    outline: none;
    margin-right: 10px;
}

.icon{
    font-size: 25px;
    margin-right: 10px;
}